* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

svg {
  width: 50em;
  height: 25em;
  border: 0.1em solid black;

  circle {
    stroke: black;
    stroke-width: 0.02em;
    fill: transparent;
  }

  g.samples {
    circle {
      stroke: none;
      fill: black;
    }
  }

  g.lines {
    line {
      stroke: black;
      stroke-width: 0.02em;
    }
  }
}

div.command {
  width: 50em;
  border: 0.1em solid black;
  padding: 0.5em;

  display: flex;
  flex-flow: column;
  gap: 0.5em;

  label {
    display: flex;
    flex-flow: column;
  }

  div.buttons {
    display: flex;
    justify-content: space-around;
    button {
      padding: 0.5em 1em;
      cursor: pointer;
    }
  }
}
