svg {
  width: 50em;
  height: 25em;
  border: 0.1em solid black;

  circle {
    stroke: black;
    stroke-width: 0.02em;
    fill: transparent;
  }

  g.samples {
    circle {
      stroke: none;
      fill: black;
    }
  }

  g.lines {
    line {
      stroke: black;
      stroke-width: 0.02em;
    }
  }
}
